body {
  font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
  }
  
  .todo-list .header {
    text-align: center; /* Center text within the header */
  }
  
  
  .todo-list {
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
    overflow: hidden;
    
  }
  
  .header, .add-task, .task-list {
    padding: 10px;
  }
  
  .header h2, .add-task input, .add-task button, .task-list p {
    color: #fffbef;
  }
  
  .add-task input {
    background-color: #3d4979;
    border: none;
    width: 80%;
    padding: 5px;
    margin-right: 5px;
    outline: none; 
}

.add-task input:focus {
    border: none; 
}
  
.add-task button {
  background-color: #1ecfad; /* Change button background color */
  color: #fff; /* Text color */
  border: none;
  padding: 10px; /* Adjust padding as needed */
  cursor: pointer;
}

  
.task {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  border-bottom: 1px solid #fff; /* Add a thin white line between each task item */
  position: relative; /* Ensure proper positioning of pseudo-element */
}

  
  .task button {
    background-color: transparent;
    border: none;
    color: #fffbef;
    cursor: pointer;
    font-size: 0; /* Hide the text */
  }
  
    
  .task button::after {
    
    font-size: 16px; /* Set the font size for the icon */
  }
  
  .task .edit-btn {
    background-color: transparent;
    border: none;
    color: #fffbef;
    cursor: pointer;
    font-size: 0; /* Hide the text */
  }
  
  .task .edit-btn::after {
    content: "\E254"; /* Unicode for pencil icon */
    font-family: 'Material Icons'; /* Use Material Icons font family */
    font-size: 24px; /* Set the font size for the icon */
  }
  
  .task .complete-btn {
    background-color: transparent;
    border: none;
    color: #1ecfad;
    cursor: pointer;
    font-size: 24px;
    margin-right: 5px;
  }
  
  .task p.completed {
    text-decoration: line-through;
    color: #1ecfad;
  }
  